parameters:
	paths:
		- app
	level: 5
	ignoreErrors:
		- '#Match expression does not handle remaining value: mixed#'
		- '#Property App\\Modules\\Analyzer\\Visitors\\ClassMethodVisitor::\$metrics is never read, only written\.#'
		- '#Parameter \#1 \$html of method Termwind\\HtmlRenderer::render\(\) expects string, Illuminate\\Contracts\\View\\View given\.#'