parameters:
	paths:
		- app
	level: 5
	ignoreErrors:
		- '#Match expression does not handle remaining value: mixed#'
		- '#Property App\\Modules\\Analyzer\\Visitors\\ClassMethodVisitor::\$metrics is never read, only written\.#'