parameters:
	paths:
		- app
	level: 5
	ignoreErrors:
		- '#Match expression does not handle remaining value: mixed#'
		- '#Parameter \#1 \$html of function Termwind\\render expects string\, Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View given\.#'
		- '#Access to an undefined property PhpParser\\Node::\$stmts\.#'